<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="musicdemo.jlang.com.mimu">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="musicdemo.jlang.com.mimu.ApplicationEx"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="musicdemo.jlang.com.mimu.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="musicdemo.jlang.com.mimu.activity.AlbumDetailActivity" />
        <activity android:name="musicdemo.jlang.com.mimu.activity.ArtistDetailActivity" />
        <activity android:name="musicdemo.jlang.com.mimu.activity.FolderDetailActivity" />

        <service
            android:name="musicdemo.jlang.com.mimu.service.AudioPlayerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="musicdemo.jlang.com.mimu.activity.PlayDetailActivity"></activity>
    </application>

</manifest>